<!-- 헤더 -->
<!-- 헤더 -->
<!-- 헤더 -->
{% if  portal.current_page != 'csat_survey' %}
	<header class="banner">
		<div class="banner-wrapper page">
			<div class="banner-title">
				{{ portal | logo }}
				<script>
				// 링크 변경
				(function ($) {
					$('a.portal-logo').attr('href','//daybit.com');
				})(jQuery);
				</script>
			</div>
			<nav class="banner-nav">
				{{ portal | welcome_navigation }}
			</nav>
		</div>
	</header>
	<nav class="page-tabs">
	<div class="page no-padding">
		{% if portal.tabs.size > 0 %}
			<a data-toggle-dom="#header-tabs" href="#" data-animated="true" class="mobile-icon-nav-menu show-in-mobile"></a>
			<div class="nav-link" id="header-tabs">
			{% if portal.current_language.code == "ko" %}
			<a href="/ko/support/home">홈</a>
			{% elsif portal.current_language.code == "en" %}
			<a href="/en/support/home">HOME</a>
			{% endif %}

			{% for category in portal.solution_categories %}
				{% if category.folders_count > 0 %}
				<a href="{{category.url}}">
					{{category.name}}
				</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</nav>
{% endif %}

<!-- Search and page links for the page -->
{% if portal.current_tab and portal.current_tab != "home" %}
	<section class="help-center-sc rounded-6">
		<div class="page no-padding">
			<div class="hc-search">
				<div class="hc-search-c">
					{% snippet search_form %}
				</div>
				<script>
					// gnb nav의 현재 활성화중인 링크 표시.
					(function ($) {
						$('html[lang="ko"] #support-search-input').attr('placeholder','문의사항을 검색해보세요.');
					})(jQuery);
				</script>
			</div>
			<div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">
				{{ portal | helpcenter_navigation }}
			</div>
			<script>
				// gnb nav의 현재 활성화중인 링크 표시.
				(function ($) {
					$('html[lang="ko"] .hc-nav a:contains("신규 고객지원 티켓 작성") span').text('문의접수하기');
					$('html[lang="ko"] .hc-nav a:contains("티켓 진행상황을 확인") span').text('문의진행상황');

					$('html[lang="en"] .hc-nav a:contains("New support ticket") span').text('New Ticket');
					$('html[lang="en"] .hc-nav a:contains("Check Ticket status") span').text('Ticket Status');
				})(jQuery);
			</script>
		</div>
	</section>
{% endif %}
{% else %}
	<header class="banner">
		<div class="banner-wrapper">
			<div class="banner-title">
				{{ portal | logo : true }}
				<h1 class="ellipsis heading">{{portal.name|h}}</h1>
			</div>
		</div>
	</header>
{% endif %}
<!-- 헤더 -->
<!-- 헤더 -->
<!-- 헤더 -->


