<!-- 헤더 -->
<!-- 헤더 -->
<!-- 헤더 -->
{% if  portal.current_page != 'csat_survey' %}
	<header class="banner">
		<div class="banner-wrapper page">
			<div class="banner-title">
				{{ portal | logo }}
				<script>
				// 링크 변경
				(function ($) {
					$('a.portal-logo').attr('href','//daybit.com');
				})(jQuery);
				</script>
			</div>
			<nav class="banner-nav">
				{{ portal | welcome_navigation }}
				<script>
				(function ($) {
					// 로그인 상황이라면 body에 data-log-status를 추가한다.
					var isLoginObject = $('a[href*="/support/profile/edit"]');

					!!isLoginObject.length ? $('html').attr('data-log-status','on') : $('html').attr('data-log-status','off')

					// 그리고 프로필 수정 삭제한다.
					var profileLink = isLoginObject.parent('b');
					if (profileLink.length) {
						profileLink[0].outerHTML = '';
					}

				})(jQuery);
				</script>
			</nav>
		</div>
	</header>
	<script>
	(function ($) {
		// user-agent :: inapp case에서는 header를 보여주지 않는다.
		// 모바일 에이전트 구분
		var isMobile = {
			android: function () {
				return navigator.userAgent.match(/Android/i) == null ? false : true;
			},
			blackBerry: function () {
				return navigator.userAgent.match(/BlackBerry/i) == null ? false : true;
			},
			ios: function () {
				return navigator.userAgent.match(/iPhone|iPod/i) == null ? false : true;
			},
			opera: function () {
				return navigator.userAgent.match(/Opera Mini/i) == null ? false : true;
			},
			windows: function () {
				return navigator.userAgent.match(/IEMobile/i) == null ? false : true;
			},
			any: function () {
				return (isMobile.android() || isMobile.blackBerry() || isMobile.ios() || isMobile.opera() || isMobile.windows());
			}
		};

		var isInApp = function () {
			return navigator.userAgent.match(/inapp/gi) == null ? false : true;
		};

		if (isMobile.ios() && isInApp() || isMobile.android() && isInApp()) {
			$('html').attr('data-caller','inapp');
		}
	})(jQuery);
	</script>
	<nav class="page-tabs">
	<div class="page no-padding">
		{% if portal.tabs.size > 0 %}
			<a data-toggle-dom="#header-tabs" href="#" data-animated="true" class="mobile-icon-nav-menu show-in-mobile"></a>
			<div class="nav-link" id="header-tabs">
			{% if portal.current_language.code == "ko" %}
			<a href="/ko/support/home">고객센터</a>
			{% elsif portal.current_language.code == "en" %}
			<a href="/en/support/home">Customer center</a>
			{% endif %}

			{% for category in portal.solution_categories %}
				{% if category.folders_count > 0 %}
				<a href="{{category.url}}">
					{{category.name}}
				</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</nav>
{% endif %}

<!-- Search and page links for the page -->
{% if portal.current_tab and portal.current_tab != "home" %}
	<section class="help-center-sc rounded-6">
		<div class="page no-padding">
			<div class="hc-search">
				<div class="hc-search-c">
					{% snippet search_form %}
				</div>
				<script>
					// gnb nav의 현재 활성화중인 링크 표시.
					(function ($) {
						$('html[lang="ko"] #support-search-input').attr('placeholder','문의사항을 검색해보세요.');
					})(jQuery);
				</script>
			</div>
			<div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">
				{{ portal | helpcenter_navigation }}
			</div>
			<script>
				// gnb nav의 현재 활성화중인 링크 표시.
				(function ($) {
					$('html[lang="ko"] .hc-nav a:contains("신규 고객지원 티켓 작성") span').text('문의접수하기');
					$('html[lang="ko"] .hc-nav a:contains("티켓 진행상황을 확인") span').text('문의진행상황');

					$('html[lang="en"] .hc-nav a:contains("New support ticket") span').text('New Ticket');
					$('html[lang="en"] .hc-nav a:contains("Check Ticket status") span').text('Ticket Status');
				})(jQuery);
			</script>
		</div>
	</section>
{% endif %}
{% else %}
	<header class="banner">
		<div class="banner-wrapper">
			<div class="banner-title">
				{{ portal | logo : true }}
				<h1 class="ellipsis heading">{{portal.name|h}}</h1>
			</div>
		</div>
	</header>
{% endif %}
<!-- 헤더 -->
<!-- 헤더 -->
<!-- 헤더 -->
