<!-- 페이지 레이아웃 -->
{{ header }}
<div class="page">

	<!-- Search and page links for the page -->
	{% if portal.current_tab and portal.current_tab == "home" %}
		<section class="help-center home">
			<div class="hc-search">
				<div class="hc-search-c">
					<h2 class="heading hide-in-mobile">Hello! DAY I help you?</h2>
					{% snippet search_form %}
				</div>
				<script>
					// gnb nav의 현재 활성화중인 링크 표시.
					(function ($) {
						$('html[lang="ko"] #support-search-input').attr('placeholder','문의사항을 검색해보세요.');
					})(jQuery);
				</script>
			</div>
			<div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">
				{{ portal | helpcenter_navigation }}
			</div>
		</section>
	{% endif %}

	<!-- Notification Messages -->
	{{ page_message }}

	{% if portal.current_page != "user_signup" and portal.current_page != "submit_ticket" %}
	<div class="c-wrapper">
		{{ content_for_layout }}
	</div>
	{% elsif portal.current_page == "submit_ticket" %}
	<div class="c-wrapper">
		<div class="new_ticket_page">
		{{ content_for_layout }}
		</div>
	</div>
	{% else %}
	<div class="signup-page">
	<div class="signup-wrapper">
	{{ content_for_layout }}
	</div>
	</div>
	{% endif %}



</div>
{{ footer }}


