<!-- 페이지 레이아웃 -->
{{ header }}
<div class="page">

	<!-- Search and page links for the page -->
	{% if portal.current_tab and portal.current_tab == "home" %}
		<section class="help-center home">
			<div class="hc-search">
				<div class="hc-search-c">
					<h2 class="heading hide-in-mobile">
					{% if portal.current_language.code == "ko" %}
					고객센터
					{% elsif portal.current_language.code == "en" %}
					Customer Support
					{% endif %}
					</h2>

					{% snippet search_form %}
				</div>
				<script>
					// gnb nav의 현재 활성화중인 링크 표시.
					(function ($) {
						$('html[lang="ko"] #support-search-input').attr('placeholder','문의사항을 검색해보세요.');
					})(jQuery);
				</script>
			</div>
			<div class="hc-nav {% if portal.contact_info %} nav-with-contact {% endif %}">
				{{ portal | helpcenter_navigation }}
			</div>
			<script>
				// gnb nav의 현재 활성화중인 링크 표시. 빈 문장으로 처리
				(function ($) {
					var loginDesc = {};
					loginDesc.text = "새 티켓을 제출하려면";
					loginDesc.obj = $('html[lang="ko"] .hc-nav div.hide-in-mobile:contains("'+loginDesc.text+'")')
					loginDesc.ko = '';
					if (!!loginDesc.obj.length) {
						$(loginDesc.obj).html(
							$(loginDesc.obj).html().replace(loginDesc.text,loginDesc.ko)
						);
					}

					$('html[lang="ko"] .hc-nav a:contains("로그인")').html('<span>문의접수하기</span>').addClass('mobile-icon-nav-newticket new-ticket ellipsis');

					$('html[lang="ko"] .hc-nav a:contains("신규 고객지원 티켓 작성") span').text('문의접수하기');
					$('html[lang="ko"] .hc-nav a:contains("티켓 진행상황을 확인") span').text('문의진행상황');

					$('html[lang="en"] .hc-nav a:contains("New support ticket") span').text('New Ticket');
					$('html[lang="en"] .hc-nav a:contains("Check Ticket status") span').text('Ticket Status');
				})(jQuery);
			</script>
		</section>
	{% endif %}

	<!-- Notification Messages -->
	{{ page_message }}

	{% if portal.current_page != "user_signup" and portal.current_page != "submit_ticket" %}
	<div class="c-wrapper">
		{{ content_for_layout }}
	</div>
	{% elsif portal.current_page == "submit_ticket" %}
	<div class="c-wrapper">
		<div class="new_ticket_page">
		{{ content_for_layout }}
		</div>
	</div>
	{% else %}
	<div class="signup-page">
	<div class="signup-wrapper">
	{{ content_for_layout }}
	</div>
	</div>
	{% endif %}



</div>
{{ footer }}
