// --------------------------------------------------------------------------------
// header.scss;
// --------------------------------------------------------------------------------

// namespace
header {}


header.banner {

	height:152px;
	padding:4px 0;

	a {
		font-size:rem(15);
	}
	// bi
	.banner-title {
		width:auto;
		margin-top:2px;

		.portal-logo {
			margin:0;
		}

		.portal-img {
			height:auto;	// reset
			img {
				width:108px;
			}
		}
		h1 {
			@include screen_reader ();
		}
	}

	.banner-nav {
		width:auto;
		.welcome,
		.welcome b {
			display:none;	// @@@@ css 상에서만 지워봄
		}
	}


	.banner-nav {

		margin:0;

		b {
			vertical-align:middle;
			a {
				background:none;
				border:none;
			}
		}

		.caret {
			display:none;
		}

		.banner-language-selector {
			margin:0 0 0 10px;

			.dropdown-toggle {
				font-weight:400;
				color: #fff;
				border: 1px solid hsla(0,0%,100%,.35);
				border-radius: 2px;
				height: 24px;
				width: 75px;
				padding: 0;
				font-size: 13px;
				background: none;
				text-align: center;
			}

			ul.dropdown-menu {
				top:0;
				right:0;
				left:0;
				border-radius:2px;
			}
		}
	}
}
