// --------------------------------------------------------------------------------
// header.scss;
// --------------------------------------------------------------------------------

// namespace
header {}


header div.page {
	max-width:1140px;

	@include media ('<1200px') {
		padding-left:20px;
		padding-right:20px;
	}

	padding-top:4px;
	padding-bottom:4px;
}

header.banner {

	@media (max-width: 45em) {
		height:152px;
		padding:4px 0;
	}

	a {
		font-size:rem(15);
		@media(max-width:45em) {
			float:none;
		}

	}
	// bi
	.banner-title {
		width:auto;
		margin-top:2px;

		.portal-logo {
			margin:0;
			@media(max-width:45em) {
				text-align:left;
			}
		}

		.portal-img {
			height:auto;	// reset
			img {
				width:108px;
			}
		}
		h1 {
			@include screen_reader ();
		}
	}

	.banner-nav {
		width:auto;

		.welcome,
		.welcome b {
			display:none;	// @@@@ css 상에서만 지워봄
		}

		a:after {
			opacity:0.4;
		}
	}


	.banner-nav {

		margin:0;
		@media(max-width:45em) {
			margin-top:10px;
			text-align:left;
		}

		b {
			a {
				background:none;
				border:none;
				line-height:24px;
				font-size:rem(14);
			}

			a[href*="/login"] {
				padding:0;
			}

			@media(max-width:45em) {
				a,
				&:first-child {
					padding-left:0;
					margin-left:0;
				}

			}

		}

		.caret {
			display:none;
		}

		.banner-language-selector {
			top:0;
			margin:0 0 0 10px;

			.dropdown-toggle {
				font-weight:400;
				color: #fff;
				border: 1px solid hsla(0,0%,100%,.35);
				border-radius: 2px;
				height: 24px;
				line-height:22px;
				width: 75px;
				padding: 0;
				font-size: 13px;
				background: none;
				text-align: center;
			}

			ul.dropdown-menu {
				top:0;
				right:0;
				left:0;
				border-radius:2px;
				padding:0;

				li a {
					font-size:13px;
					height:34px;
					line-height:34px;
					text-align:center;
					display:inline-block;
					padding:0;
					width:100%;

					border-radius:0;
					margin-left:0;

					&:after {
						display:none;
					}
				}
			}
		}
	}
}




// ticker

.banner-nav .banner-language-selector .language-options .dropdown-menu a .icon-dd-tick-dark {
	display:none;
}


// 프로필 수정은 없음
a[href*="/support/profile/edit"] {
	display:none;
}



// --------------------------------------------------------------------------------
// nav element
// body > header + nav
// -------------------------------------------------------------------------------
nav.page-tabs {
	.nav-link {
		margin:0;

		a {
			font-weight:400;

			&.active {
				border-top:0;
				border-bottom:3px solid #002248;
				padding:6px 6px 3px 6px;
				font-weight:700;
			}

			&:hover {
				border-top-width:3px;
				border-top-color:transparent;
			//     border-bottom:3px solid rgba(0, 35, 70, 0.5);
			//     padding:6px 6px 3px 6px;
			//     font-weight:500;
			}

			// &.active:hover {
			//     border-color:#002248;
			// }
		}
	}
}

