html[data-caller='inapp'] {
	header {
		display:none;
	}

	@media (max-width: 45em) {
		section.help-center,
		section.help-center-sc {
			top: 59px;
			margin-top: 0;
			width: calc(100% - 24px);
			margin-left: 12px;
		}
	}

	// inapp에서는 프린트 버튼 가리기
	.icon-print.solution-print-icon {
		display:none;
	}
}
