html[data-caller='inapp'] {
	header {
		display:none;
	}

	@media (max-width: 45em) {
		section.help-center,
		section.help-center-sc {
			top: 10px;
			margin-top: 0;
			width: calc(100% - 60px);
			margin-left: 12px;
		}
	}
}

