$emerald:#00bcb5;
// --------------------------------------------------------------------------------
// page
// 본문 섹션
// --------------------------------------------------------------------------------

.page {}		// namespace


div.page {
	max-width:1000px;
	padding-left:0;
	padding-right:0;
}

// header + nav + help-center
// 검색과 간단한 로그인이 있는 섹션
.page {
	section.help-center {
		background-color:transparent;
		text-align:center;
		border-bottom:0;
		margin-bottom:0;

		@include media('<=720px') {
			text-align:left;
		}

		&.home {
			border-radius:0;
			padding:40px 0 20px;

			@include media('<=720px') {
				padding:0;
			}

			h2.heading {
				font-size:rem(32);
				line-height:1;
				color:#002248;
				// text-shadow:0 0 4px rgba(0, 34, 72, 0.4);
			}

			.hc-search {
				width:60%;
				padding-right:0;

				.hc-search-form {
					width:inherit;
					text-align:center;
					border:1px solid transparent;

					&:focus-within {
						border-color:transparent;
						box-shadow:0 0 0;
					}
				}
			}


		}
	}
}

.hc-nav > nav > div {
	display:inline-block;
	vertical-align:middle;
	margin-left:1em;
	line-height:25px;

	&:nth-of-type(1) {
		margin:0;
	}

	a {
		float:none;
		display:inline;
		padding:0;
	}

	a span:hover {
		color:$emerald;
	}

	a:before {
		vertical-align:middle;
	}
	a span {
		line-height:22px;
		vertical-align:middle;
		display:inline;
	}
}

section.help-center-sc .hc-nav > nav {
	@include media ('>45em') {
		margin-top:5px;
	}

	> div {
		display:inline-block;
		vertical-align:middle;
		margin-left:1em;
		line-height:25px;
	}
}


.page {
	// home 화면
	section.content,
	section.sidebar.content {
		h2.heading {
			line-height:1.5;
			padding-bottom:0.4em;

			a:hover {
				text-decoration:none;
			}
		}

	}
}


@include media('>=720px') {
	.main .cs-g {
		margin-bottom:15px;
	}
}


section.content {
	padding-top:30px;
	padding-bottom:30px;
}



.page .fc-article-show h2.heading + p {
	margin:12px 0;
}

section.help-center-sc {
	border-color:#ddd;
	border-left-width:0;
	border-right-width:0;
}

@media (max-width: 45em) {
	.page-tabs > div.page {
        html[data-log-status="on"] & {
            height:150px;
            padding:0;
        }

        html[data-log-status="off"] & {
            height:120px;
            padding:0;
        }
	}

	nav.page-tabs .nav-link a {
		padding-left:40px !important;
		padding-right:40px !important;
	}

	section.help-center,
	section.help-center-sc {
		top:175px;
		margin-top:0;
        width:calc(100% - 24px);
		margin-left:12px;
	}

	.help-center div.hc-search-input,
	.help-center-sc .hc-search div.hc-search-input {
	 	width:100%;

		input {
			padding-right:45px;
		}
	}

	.help-center-sc .hc-search div.hc-search-input input.special {
		padding:6px 45px 6px 13px;
	}

    nav.page-tabs {
        text-align:left;
        .nav-link {
            display:block !important;
            position:static;

            a {
                display:inline-block;
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    display:none;
                }

                &:nth-of-type(1) {
                    background-color:transparent;
                }
            }
        }
    }

    // bugger menu
	nav.page-tabs .mobile-icon-nav-menu {
        display:none;
	}

	.page section.help-center.home .hc-search,
	section.help-center-sc div.hc-search {
		float:none;
		margin-right:0;
		width:100% !important;
		position:relative;
	}

	div.hc-nav {
		margin-top:7px;
		float:none;
		width:100%;
	}

	div.hc-nav nav span {
		display:inline;
	}

	section.help-center-sc .hc-search .hc-search-button {
		width:30px;
		margin-left:0;
	}

	.help-center-sc div.hc-nav {
		float:none;
		width:100%;
	}

	div.hc-nav nav a {
		display:inline;
		width:auto;

		html[data-log-status="off"] &[href*="support/tickets"] {
			display:none;
		}
	}

	section.content {
		margin-top:0;
		padding:1em 2em;
	}

	.solution-print-icon:before {
		margin-top:0;
	}

	.onfocus-mobile + .hc-nav {
		display:block !important;
	}

	header.banner {
		height:auto;
	}

	div.banner-wrapper.page {
		min-height:0;
		height:auto;
		padding-top:25px;
		padding-bottom:25px;
		max-height:100px;
	}

	.solution-print-icon {
		margin-right:0;
		float:none;
		position:absolute;
		right:0;
	}
}

@media (max-width: 370px) {
	.page-tabs > div.page {
		padding:10px 10px 70px;
	}
}




// --------------------------------------------------------------------------------
// 각종 링크의 아이콘 삭제
// --------------------------------------------------------------------------------
.ficon-solution-article-new:before,
.article-list ul li:before,
.search-results-list li.article-item:before,
ul.ui-autocomplete li.article-item:before {
	display:none;
}

.article-list li,
.topic-list li,
.ticket-list li,
a.see-more {
	padding-left:0;
}




// --------------------------------------------------------------------------------
// article-view layout에서 연관글을 아래로 내림
// --------------------------------------------------------------------------------
section.main {
	width:auto;
	float:none;
	border:0;
}

section.main.min-height-on-desktop {
	min-height:auto;
}

section.sidebar {
	width:auto;
	min-height:auto !important;
	float:none;
}





// --------------------------------------------------------------------------------
// unset all rounded
// --------------------------------------------------------------------------------
.rounded-6,
.c-wrapper,
.help-center .hc-search-form,
div.hc-search-input input.special {
	border-radius:0 !important;
}

.c-wrapper {
	box-shadow: 0 2px 4px 0 rgba(41,49,61,0.06);
	border:0;
}


@include media ('<1020px') {
	.c-wrapper {
		box-shadow:0 0 0 0;
	}
}



// --------------------------------------------------------------------------------
// article front color
// --------------------------------------------------------------------------------
// 텍스트 본문의 컬러도 롤백을 원하심
// .article-body {
//     > p {
//         color:#666 !important;
//         > span {
//             color:#666 !important;
//         }
//     }
// }









// --------------------------------------------------------------------------------
// article spacing
// --------------------------------------------------------------------------------
// wysiwig editor와 매칭되어 보였으면 하셔서 삭제함.
// .article-body {
//     p,
//     li,
//     div,
//     blockquote {
//         line-height:1.7;
//     }

//     p {
//         margin-bottom:1em;
//     }

//     blockquote {
//         margin-left:0;
//         margin-right:0;
//         padding-top:0;
//         padding-bottom:0;
//     }

//     li {
//         margin-bottom:0.3em;
//     }
// }

// list style

// .article-body ol,
// .article-body ul {
//     padding-left:20px;
// }










// --------------------------------------------------------------------------------
// table re-declarataion
// --------------------------------------------------------------------------------

.article-body {
	table {
		border-spacing:0;
		border-collapse:collapse;
		width:100%;
	}

	th,td {
		border:1px solid #f4f4f4 !important;
		text-align:center;
	}

	th {
		background-color:#f4f4f4;
		font-size:rem(13);
		color:#888;
		font-weight:400;

		* {
			font-size:inherit;
			color:#888;
			font-weight:400;
		}
	}

	td {
		color:#444;

		* {
			color:inherit !important;
		}
	}

	thead th,
	tbody th,
	tbody td {
		padding-top:9px;
		padding-bottom:9px;
	}

	// test for mobile table
	@include media ('<768px') {
		div.responsible {
			width:100%;
			overflow:auto;
		}

		table {}

		th,td {
			white-space:nowrap;
		}

		tr > *:first-child {
			position:sticky;
			left:-1px;
			z-index:2;
		}

		tr > td:first-child {
			background-color:#fff;
		}
	}



}




// --------------------------------------------------------------------------------
// link
// --------------------------------------------------------------------------------

// section.cs-g.article-list ul li {
//     a:link {
//         color:#666 !important;
//     }
// }

.c-row:hover {
	background-color:#f9f9fa;
}

a:hover {
	text-decoration:underline;
}




// --------------------------------------------------------------------------------
// font-family inherit for body
// --------------------------------------------------------------------------------

h2.heading,
.lead,
.lead-smalll,
h3.list-lead {
	font-family:inherit;
}


// --------------------------------------------------------------------------------
// printing icon
// --------------------------------------------------------------------------------

.ficon-print,
.solution-print-icon {
	margin-top:9px;
}

.ficon-print:after,
.solution-print-icon:after {
	line-height:26px;
}




// --------------------------------------------------------------------------------
// 솔루션 리스트 처리
// --------------------------------------------------------------------------------
 .c-article-row .icon-article-table-row {
	 display:none;
	 // border-right:1px solid rgba(0,0,0,0.1);
	 // box-shadow:0 0 0 0;
 }



// colorset

.links-inherit a,
.ellipsis a {
	color:#888;

	&:hover {
		color:#666;
		text-decoration:underline;
	}
}


a.see-more,
div.breadcrumb a,
.ficon-thumbs-down, .article-vote .vote-down,
.ficon-thumbs-down, .article-vote .vote-up {
	color:$emerald;

	&:hover {
		color:$emerald;
		text-decoration:underline;
	}
}



div.list-lead a,
div.cs-s h2.heading a {
	color:#222;
}

.c-article-row .article-title a {
	color:#222;
}

section.content {
	.help-text, .p-info, .info-text, .list-noinfo, .description-text {
		color:#888;
	}
}


// type case
.article-list.c-list .c-row:first-child {
	border-top:0;
}

.article-list.c-list {
	border-bottom:0;
}


 // --------------------------------------------------------------------------------
 // border line color 통일
 // --------------------------------------------------------------------------------
.page section.content h2.heading,
.page section.sidebar.content h2.heading {
	border-bottom:1px solid #EFF0F2;
}

.page hr,
.c-list .c-row:first-child {
	border-top-color:#EFF0F2;
}

// --------------------------------------------------------------------------------
// 티켓 리스트
// --------------------------------------------------------------------------------
.c-row.c-ticket-row .status-source {
	display:none;
}

.ellipsis .c-link {
	color:#222;
}


// --------------------------------------------------------------------------------
// pagination
// --------------------------------------------------------------------------------
.pagination .active span {
	color:$emerald;
}

.pagination {
	.previous a,
	.next_page a {
		color:#666;;
	}
}


// --------------------------------------------------------------------------------
// 제목과 print button이 조화롭게 보이도록
// --------------------------------------------------------------------------------
@media (max-width: 45em) {
	.page section.content h2.heading {
		word-break:break-all;
		padding-right:70px;
	}
}

// --------------------------------------------------------------------------------
// 파일 첨부 텍스트의 컬러
// --------------------------------------------------------------------------------
#attachment-type div.add_attachment {
	color:#002248;
}



