// --------------------------------------------------------------------------------
// page
// 본문 섹션
// --------------------------------------------------------------------------------

.page {}		// namespace


// header + nav + help-center
// 검색과 간단한 로그인이 있는 섹션
.page {
	section.help-center {
		text-align:center;

		@include media('<=720px') {
			text-align:left;
		}

		&.home {
			border-radius:0;
			padding:40px 0;

			@include media('<=720px') {
				padding:0;
			}

			h2.heading {
				font-size:rem(32);
				line-height:1;
				color:#002248;
				text-shadow:0 0 4px rgba(0, 34, 72, 0.4);
			}

			.hc-search {
				width:60%;
				padding-right:0;

				.hc-search-form {
					width:inherit;
					text-align:center;
					border:1px solid transparent;

					&:focus-within {
						border-color:transparent;
						box-shadow:0 0 5px rgba(44, 71, 102, 1.000);
					}
				}
			}

			.hc-nav > nav > div {
				display:inline-block;
				vertical-align:middle;
				margin-left:1em;
				line-height:25px;

				a {
					float:none;
					display:inline;
					padding:0;
				}
			}
		}
	}

}
	section.help-center-sc .hc-nav > nav > div {
		display:inline-block;
		vertical-align:middle;
		margin-left:1em;
		line-height:25px;
	}


.page {
	// home 화면
	section.content,
	section.sidebar.content {
		h2.heading {
			line-height:1.5;
			border-bottom:1px solid #DADFE3;
			padding-bottom:0.4em;

			a:hover {
				text-decoration:none;
			}
		}

	}
}


@include media('>=720px') {
	.main .cs-g {
		margin-bottom:15px;
	}
}


section.content {
	padding-top:30px;
	padding-bottom:30px;
}



.page .fc-article-show h2.heading + p {
	margin:12px 0;
}

section.help-center-sc {
	border-color:#ddd;
	border-left-width:0;
	border-right-width:0;
}

@media (max-width: 45em) {
	.page-tabs > div.page {
		padding:40px 10px;
	}
	section.help-center,
	section.help-center-sc {
		top:125px;
		margin-top:0;
		width:calc(100% - 60px);
	}

	.help-center div.hc-search-input,
	.help-center-sc .hc-search div.hc-search-input {
	 	width:100%;

		input {
			padding-right:45px;
		}
	}

	.help-center-sc .hc-search div.hc-search-input input.special {
		padding:6px 45px 6px 13px;
	}

	nav.page-tabs .nav-link {
		margin-left:-10px;
		top:128px;
	}

	.page section.help-center.home .hc-search,
	section.help-center-sc div.hc-search {
		float:none;
		margin-right:0;
		width:100% !important;
		position:relative;
	}

	div.hc-nav {
		margin-top:7px;
		float:none;
		width:100%;
	}

	nav.page-tabs .nav-link a {
		padding-left:20px !important;
	}

	div.hc-nav nav span {
		display:inline;
	}

	section.help-center-sc .hc-search .hc-search-button {
		width:30px;
		margin-left:0;
	}

	.help-center-sc div.hc-nav {
		float:none;
		width:100%;
	}

	div.hc-nav nav a {
		display:inline;
		width:auto;
	}

	section.content {
		margin-top:0;
		padding:1em 2em;
	}

	.solution-print-icon:before {
		margin-top:0;
	}

	.onfocus-mobile + .hc-nav {
		display:block !important;
	}

	header.banner {
		height:auto;
	}

	div.banner-wrapper.page {
		min-height:0;
		height:auto;
		padding-top:30px;
		padding-bottom:30px;
		max-height:100px;
	}
}

@media (max-width: 370px) {
	.page-tabs > div.page {
		padding:10px 10px 70px;
	}
}
